html {
  scroll-behavior: smooth;
}

body {
  margin:0;
  background-color:rgb(255,255,255);
  font-family:gt-america-regular;

}
.navbar-parent {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:999;
}

@media (max-width:900px) {
  .navbar-parent {
    display:none;
  }
}

.mainhead {
  background-color:rgb(255,255,255);
  display:flex;
  width:100%;
  flex-direction: row;
  /* margin-bottom:35px;
  margin-top:20px; */
  height:5vw;
  flex-wrap:wrap;
  justify-content:flex-end;

}

.headerTitles {
  color:rgb(190,190,185);
  font-size:1.4vw;
  margin:auto 0;
  margin-right:25px;
  margin-left:20px;
  text-decoration:none;
  font-family:gt-america-medium;

  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

.headerTitles:hover {
  color:rgb(25,25,25);
}
/*NEW*/

.container-1 {
  display:flex;
  height:120vw;
  flex-direction: column;
  margin-top:5vw;
  margin-bottom:9vw;
}

@media(max-width:900px) {
  .container-1{
    margin-top:10vw;
  }
}

.generalTitles-container {
  display:flex;
  flex-direction: column;
  max-width:100vw;
  min-height:18vh;
  /* background-color:rgb(230,230,230); */
  padding-left:25px;
  margin-bottom:2vw;
}

@media(max-width:900px) {
  .generalTitles-container {
    min-height:14vh;
  }
}

#statGeneralTitle {
  font-family: gt-america-bold;
  font-size:3.2vw;
  line-height:2.9vw;
  width:300px;
  margin:0 0;
  margin-top:15px;
}

@media(max-width:900px) {
  #statGeneralTitle {
    font-size:10vw;
    margin-top:5vw;
  }
}

#numPersTitle {
  font-family: gt-america-bold;
  color:rgb(95,95,95);
  font-size:1.3vw;
  line-height:1.5vw;
  margin-top:15px;
  max-width:100vw;
}

@media(max-width:900px) {
  #numPersTitle {
    font-size:3vw;
    margin-top:4.5vw;
  }
}

.sideTitles-container {
  display:flex;
  max-width:100%;
  height:100vw;
}

@media(max-width:900px) {
  .sideTitles-container {
    flex-direction:column;
    min-height:76vw;
  }
}

.sideTitles {
  max-height:200px;
  width:30vw;
  /* background-color:rgb(210,210,210); */
  padding-left:25px;
  margin:0;
  font-size:1.7vw;
  line-height:1.7vw;
  font-family: gt-america-bold;
}

@media(max-width:900px) {
    .sideTitles {
    min-height:14vw;
    min-width:70%;
    font-size:4vw;
    line-height:4.2vw;

  }
}

.statCanvas {
  min-height:100%;
  height:40vw; /*lunghezza arbitraria canvas*/
  width:100%;
  /* background-color:rgb(190,190,190); */
}

#profileGlobal-selector{
  transform:scale(0.6);
  transform-origin:right;

}

@media(max-width:900px) {
    .statCanvas {
    min-height:60vw; /*lunghezza arbitraria canvas mobile*/
  }
}

.arrowDown-container {
  display:flex;
  position:fixed;
  bottom:0;
  flex-direction: column;
  margin:0 auto;
  width:100%;
  height:30px;
  stroke:rgb(170,170,170);
  color:rgb(165,165,165);
  /* background-color:rgb(210,210,210); */
  opacity:100;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.arrowDown-container:hover{
  stroke:rgb(110,110,110);
  color:rgb(110,110,110);
}

@media(max-width:900px){
  .arrowDown-container{
    height:8vw;
  }
}

/*NEW END*/


#arrowDown-svg {
    /* background-color:rgb(200,200,200); */
    width:100%;
    margin:0 auto;
}

#arrowDown-line {
    fill:none;
    stroke-width:5px;
    stroke-linejoin:round;
    stroke-linecap:round;
    transform:scale(2,2);
    position:absolute;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
#arrowUp-line {
    fill:none;
    stroke-width:5px;
    stroke-linejoin:round;
    stroke-linecap:round;
    transform:scale(2,2);
    position:absolute;

    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

@media(max-width:1400px) {
  #arrowDown-line {
    transform:scale(1.5,1.5);
  }
}
@media(max-width:1024px) {
  #arrowDown-line {
    transform:scale(1.2,1.2);
  }
}

@media(max-width:1400px) {
  #arrowUp-line {
    transform:scale(1.5,1.5);
  }
}
@media(max-width:1024px) {
  #arrowUp-line {
    transform:scale(1.2,1.2);
  }
}

#numPers{
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}

/*Mobile*/
.mobile-navbar{
  display:none;
  position:fixed;
  top:0;
  left:0;
  background-color:rgb(255,255,255);
  width:100%;
  justify-content: flex-end;
  flex-direction:column;
}

@media (max-width:900px) {
  .mobile-navbar {
    display:flex;
  }
}

.ham-button{
display:flex;
flex-direction: row;
justify-content: flex-end;
align-self: flex-end;
padding:10 15;
width:80px;
}

.ham-icon{
    display:flex;
    flex-direction:column;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.close-icon{
    display:flex;
    flex-direction:column;;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.ham-bar{
  width: 25px;
  height: 4px;
  background-color: rgb(160,160,160);
  border-radius:1px;
  margin: 2px 0;

  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}

.close-bar{
  top:18px;
  right:15px;
  width: 25px;
  height: 4px;
  background-color: rgb(160,160,160);
  border-radius:1px;
  margin: 2px 0;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
}

.cbar1 {
  position:absolute;
transform:rotate(45deg)
}
.cbar2 {
  position:absolute;
transform:rotate(-45deg)
}

.menu-txt{
    font-family:gt-america-medium;
    font-size:14pt;
    margin:0 10;
    color:rgb(140,140,140);

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}


.navbar-menu{
  display:flex;
  flex-direction:column;
  overflow-y:hidden;
  height:500px;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;

}

.closed{
  height:0;

  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}

.headerTitlesM{
    margin:5 20;
    font-size:12vw;
    font-family:gt-america-medium;
    text-decoration: none;
    color:rgb(190,190,185);
    -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
.headerTitlesM:focus{
    color:rgb(25,25,25);
}

/*nobile end*/

.hideOpacity{
  opacity:0;
}
.hideDisplay{
  display:none;
}

.blur {
  filter:blur(3px);
}


#top{
  position:absolute;
  top:0;
}


@font-face {
  font-family: "gt-america-bold";
  src: url(./fonts/GT-America-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "gt-america-medium";
  src: url(./fonts/GT-America-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "gt-america-regular";
  src: url(./fonts/GT-America-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
